*{
    padding: 0px;
    margin:0px;

}

.contain,.container{
    padding:5px;
    box-sizing: content-box;
    box-shadow: 100px;
    box-shadow: inset;
    width: 100%;
}
.date{
    display: flex;
    justify-content: space-between;
    padding:5px;
    margin:5px;
}
.date h1{
    color: brown;
    padding:5px;
}
.intro{
    padding:2px;
    font-size: 20px;

}
.img{
    padding:10px;
    margin:10px;
    background-color: rgba(243, 103, 9, 0.397);
    width:100vw;
}
.img h3, p{
    padding:10px;
    text-transform: uppercase;
    font-style: normal;
    font-family: 'Times New Roman', Times, serif;
    margin:5px;
}
.text{
    padding:20px;

}
footer{
    background-color: black;
    color:white;
    font-size: small;
    font-weight: 100;
    padding: 20px;
}
@media screen and (min-width:400px){
.flex{


width: 100%;
}
.flex p{
    margin-top: 40px;
    padding: 10px;
}
.img{
    padding: 10px;
    width: 100vw;
    display: grid;
    grid-template-columns: auto;
}
}
